{% extends "common.html" %}
{% block content %}
<h1>Akatsuki</h1>
<h2>Visualizer information API</h2>

<h3>Dev info</h3>
<ul>
    <li> board API endpoint /akatsuki/board/problemId/seed/revision/turn/ example: <a href="/akatsuki{{ url_for('get_board', prob_id=0, seed=0, rev='cfbcfcbc4416fbd061594baf77ed5149f1553def', turn=1) }}">here</a> </li>
    <li> game API endpoint /akatsuki/game/problemId/seed/revision/ example: <a href="/akatsuki{{ url_for('get_game', prob_id=0, seed=0, rev='cfbcfcbc4416fbd061594baf77ed5149f1553def') }}">here</a> </li>
</ul>
{% endblock %}