{% extends "common.html" %}
{% block content %}
<div class="container">
    <h1>Submission Comparator</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Problem ID</th>
            {% for rev in revs %}
            <th>{{ names[rev] }}</th>
            {% endfor %}
            {% if global_best_score is defined %}
            <th>Global Best</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for prob_id in problems %}
            <tr>
                <td>{{ prob_id }}</td>
                {% for rev in revs %}
                <td {% if best[prob_id] is equalto summary[prob_id][rev] %}class="success"{% endif %}>
                    {{ summary[prob_id][rev] }} ({{ runtime[prob_id][rev] }})
                </td>
                {% endfor %}
                {% if global_best_score is defined %}
                <td>{{ global_best_score[prob_id] }} (<a href="{{ my_url_for('view_revision', revision=global_best_rev[prob_id]) }}">rev link</a>)</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
