{% extends "common.html" %}
{% block content %}
<div class="container">
    <h1>Submission Comparator</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Problem ID</th>
            {% for rev in revs %}
            <th>{{ names[rev] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for prob_id in problems %}
            <tr>
                <td>{{ prob_id }}</td>
                {% for rev in revs %}
                <td {% if best[prob_id] is equalto summary[prob_id][rev] %}class="success"{% endif %}>
                    {{ summary[prob_id][rev] }} ({{ runtime[prob_id][rev] }})
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
