{% extends "common.html" %}
{% block content %}
<div class="container">
    <h1>Hibiki</h1>
    <h2>Submission Viewer</h2>

    <div id="filterConfig" class="container">
        <label for="commentFilter">
            Comment contains:
        </label>
        <input type="text" id="commentFilter" class="filterInput">

        <label for="problemFilter">
            Problem ID with:
        </label>
        <input type="text" id="problemFilter" class="filterInput">

        <label for="seedFilter">
            Seed with:
        </label>
        <input type="text" id="seedFilter" class="filterInput">
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Comment</th>
            <th>Problem ID</th>
            <th>Seed</th>
            <th>Score</th>
            <th>RunTime</th>
            <th>Output</th>
            <th>Visualizer</th>
        </tr>
        </thead>
        <tbody>
        {% for output in outputs %}
        <tr class="tableRow" comment="{{ output['comment'] }}" problemid="{{ output['problemId'] }}" seed="{{ output['seed'] }}">
            <td>{{ output['runDateString'] }}</td>
            <td>{{ output['comment'] }}</td>
            <td>{{ output['problemId'] }}</td>
            <td>{{ output['seed'] }}</td>
            <td>{{ output['score'] }}</td>
            <td>{{ output['elapsedTime'] }}</td>
            <td><a href="{{ output['outputUrl'] }}">Output</a></td>
            <td><a href="{{ output['visualizerUrl'] }}">Visualizer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="application/javascript">
        function filterUpdate() {
            var commentContain = $('#commentFilter').val();
            var problemId = $('#problemFilter').val();
            var seed = $('#seedFilter').val();
            $('.tableRow').each(function(index) {
                var thisComment = this.getAttribute("comment");
                var thisId = this.getAttribute("problemid");
                var thisSeed = this.getAttribute("seed");

                var filtered = false;
                if (commentContain && thisComment.indexOf(commentContain) == -1) {
                    filtered = true;
                }
                if (problemId && parseInt(thisId) !== parseInt(problemId)) {
                    filtered = true;
                }
                if (seed && parseInt(thisSeed) !== parseInt(seed)) {
                    filtered = true;
                }
                if (filtered) {
                    this.classList.add('hidden')
                } else {
                    this.classList.remove('hidden')
                }
            })
        }

        $(document).ready(function() {
            $('.filterInput').change(filterUpdate);
        });
    </script>
</div>
{% endblock %}
