{% extends "common.html" %}
{% block content %}
<div class="container">
    <h1>Hibiki</h1>

    <div id="comparatorConfig" class="container">
        <label for="compareWithPoyo">
            Compare with 7th_building:
        </label>
        <input id="compareWithPoyo" type="checkbox">
        <button id="compareButton">
            Compare
        </button>
    </div>

    <script type="application/javascript">
        function goCompare() {
            var revisionSet = {};
            $('.revisionCheck').each(function(index) {
                var thisRevision = this.getAttribute("revision");
                if (this.checked) {
                    revisionSet[thisRevision] = 1;
                }
            });
            var revisionList = [];
            for (var revision in revisionSet) {
                revisionList.push(revision);
            }
            var uri = 'compare?revs=' + revisionList.join(',');
            if (document.getElementById('compareWithPoyo').checked) {
                uri += '&poyo=1';
            }
            location.href = uri;
        }

        $(document).ready(function() {
            $('#compareButton').click(goCompare);
        });
    </script>

    {% include "output_table.html" %}

</div>
{% endblock %}
